
// colors
$primary: rgb(228, 11, 11);
// $primary: green;
// $success: #2298E3;
$info: #101781;

// $white: hsl(0, 0%, 100%);
// $white-bis:	hsl(0, 0%, 98%);
// $white-ter:	hsl(0, 0%, 96%);
// $black:	hsl(0, 0%, 4%);
// $black-bis:	hsl(0, 0%, 7%);
// $black-ter: hsl(0, 0%, 14%);

// color scheme
// $scheme-main:	$white;
// $scheme-main-bis: $white-bis;
// $scheme-main-ter: $white-ter;
// $scheme-invert: $black;
// $scheme-invert-bis: $black-bis;
// $scheme-invert-ter: $black-ter;

// navbar
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $primary;

@font-face {
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
    font-family: 'Ubuntu'
}

// font
$family-primary: 'Ubuntu', sans-serif;
// $family-secondary: 
// $family-code:


@import '../bulma-0.9.0/bulma.sass';

#home-tab {
    &:hover {
        background-color: $primary;
        color: white;
    }
}

a.navbar-item.is-active, 
.navbar-link.is-active 
 {
    &:focus, &:hover {
        background-color: $primary;
        color: white;
    }

    &:not(:focus), &:not(:hover){
        border-bottom: 2px solid $primary;
    }
}