form, h2, .level {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.form-container {
    margin: 2em auto;
    padding: 0 1em;
}

form {
    background-color: whitesmoke;
    padding: 2em;
    border-radius: 10px;
}