{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.scss.css') }}">
{% endblock %}

{% block body %}
<div class='container'>
    <div class="form-container">
        <div class="level contact-header">
            <div class="level-left">
                <div class="level-item">
                    <h2 class='title is-size-3 contact-header-text'>Let's connect</h2>
                </div>
                <div class="level-item contact-header-icon">
                    <span class="icon level-item is-size-3"><i class="far fa-comment"></i></span>
                </div>
            </div>
            <div class="level-right"></div>
        </div>
        <form name="contact" method="POST" action="/success" netlify>
            {{ form.csrf_token }}
                <div class="field">
                    {{ form.name.label(class_='label') }}
                    <div class="control has-icons-left">
                        <span class="icon is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        {{ form.name(class_='input') }}
                    </div>
                </div>
            <div class="field">
                {{ form.emailAddress.label(class_='label') }}
                <div class="control has-icons-left">
                    <span class="icon is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    {{ form.emailAddress(class_='input') }}
                </div>
                {% if form.emailAddress.errors %}
                    <ul class="errors"> 
                        {% for error in form.emailAddress.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="field">
                {{ form.messageBody.label(class_='label') }}
                <div class="control">
                    {{ form.messageBody(class_='textarea icon-textarea') }}
                </div>
                {% if form.messageBody.errors %}
                <ul class="errors">
                    {% for error in form.messageBody.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <!-- <button type="submit" class="button is-primary is-fullwidth is-medium">Send</button> -->
            {{ form.recaptcha }}
            {{ form.submit(class_='button is-primary is-medium has-text-white') }}
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}