{% extends 'base.html' %}

{% block head %}
<meta name="description" 
    content="This page inidicates when a visitor has successfully submitted a contact form">
{% endblock %}

{% block body %}
<div class="main-content container has-text-centered">
    <h2 class="title has-text-white">Thanks for reaching out.</h2>
    <p class="subtitle has-text-white">I'll be in touch soon.</p>
    <a class="button is-primary is-medium" href="/">Return to homepage</a>
</div>
{% endblock %}

{% block script %}
{% endblock %}